<table class="ui-widget">
	
	<thead>
		<tr class="ui-widget-header">
			<th colspan="<%= fields.length %>">
				<span class="search">Search</span>
				<span class="search_box"><input name="search_box"/></span>
				<span class="ui-icon ui-icon-search" style="display:inline">&nbsp;&nbsp;&nbsp;&nbsp;</span>
			</th>			
		</tr>
		
		<tr class="ui-widget-header">
	<%  for(var f=0;f<fields.length;f++){ 
	       var field = fields[f]; %>			
		   <th field="<%= field.name %>" class="ascending">
		       <span><%= field.text %></span>
			   <span class="ui-icon ui-icon-arrow-1-n" style="display:inline;">&nbsp;&nbsp;&nbsp;</span>
		   </th>
     <% } %>
	 
		</tr>
	</thead>
		
	<tbody>
	<%  for(var r=0;r<rows.length;r++){ 
	       var row = rows[r]; %>
		   
		   <tr>
	   <%  for(var f=0;f<fields.length;f++){ 
	           var field = fields[f]; %>			   	
		
		   	   <td field="<%= field.name %>"><%= row[field.name] %></td>
		
        <% } %>			   
		   </tr>
		   
     <% } %>		   
	</tbody>

</table>	
			
