<label class="<%= Class.OPTIONS.LABEL_CLASS_NAMES %>">
    <%= options.label %>
    <span class="<%= Class.OPTIONS.DESCRIPTION_CLASS_NAMES %>" style="display:none;"><%= options.description %></span>
</label>
<div class="<%= Class.OPTIONS.VALUE_CLASS_NAMES %>"><%= options.value %></div>