<label class="<%= Class.OPTIONS.LABEL_CLASS_NAMES %>">
    <%= options.label %>
    <span class="<%= Class.OPTIONS.DESCRIPTION_CLASS_NAMES %>" style="display:none;"><%= options.description %></span>
</label>
<input type='text' value='<%= options.value %>' class="<%= Class.OPTIONS.INPUT_CLASS_NAMES %>"/>