<div <%= Phui.GroupEditable %>>
<table>
	<tr>
		<td>Group1 Widget</td>
		<td><%= Phui.Widget.Editable.view({value: 1, group: "group1"}) %></td>
		<td>Group1 Widget</td>
		<td><%= Phui.Widget.Editable.view({value: 1, group: "group1"}) %></td>
	</tr>
	<tr>
		<td>Group2 Widget</td>
		<td><%= Phui.Widget.Editable.view({value: 2, group: "group2"}) %></td>
	</tr>
	<tr>
		<td>Group3 Widget</td>
		<td><%= Phui.Widget.Editable.view({value: "A", group: "group3"}) %></td>
		<td>Group3 Widget</td>
		<td><%= Phui.Widget.Editable.view({value: "B", group: "group3"}) %></td>
		<td>Group3 Widget</td>
		<td><%= Phui.Widget.Editable.view({value: "C", group: "group3"}) %></td>
	</tr>
</table>

</div>